body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    color:rgb(93, 91, 219);
    background-color: pink;
    font-size: 15px; 
    font-style: italic;
}

h2 {
    color: wheat;
    background-color: rgb(231, 137, 60);
    font-size: 25px;
    font-style: oblique;
    position: fixed;
    right:10px;
}

h1 {
    color: whitesmoke;
    background-color: black;
    font-size: 25px;
}

div {
    color: black;
    background-color: rgb(255, 235, 239);
}

.c1 {
    color: black;
    background-color: rgb(255, 235, 239);
}

.feedback {
    border: 5px solid rgb(202, 164, 177)
}

div .c2 {
    color: rebeccapurple;
}

a[href] {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav:hover {
     color: white;
    background-color: palevioletred;
}

a[href]:hover {
    display: block;
    color: white;
    background-color: palevioletred;
}

img {
    background-color: rgba(235, 166, 166, 0.877);
    padding: 10px;
    border: 10px solid rgb(235, 154, 181);
    position: relative;
}

